# Backend
retail-billing-backend/target/
retail-billing-backend/.idea/
retail-billing-backend/*.iml

# Frontend
retail-billing-frontend/node_modules/
retail-billing-frontend/dist/

# IDE
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
# SSL Certificate
retail-billing-backend/cert/
target/
*.class